<section class="all-toys">
    <% @all_toys.each do |toy| %>
        <% @users.each do |user| %>
            <% if toy.user_id == user.id %>
                <%= render 'components/home_toy-card', 
                :locals => {:toy_name => toy.name, :username => user.username, 
                :description => toy.description, :id => toy.id} 
                %>
            <% end %>
        <% end %>
    <% end %>
</section>