<section class="all-toys">
    <% @all_toys.each do |toy| %>
        <%= render 'components/home_toy-card', 
        :locals => {:toy_name => toy.name, :username => toy.username, 
        :description => toy.description, :id => toy.id} 
        %>
    <% end %>
</section>