<section class="all-toys">
    <%= render 'components/home_toy-card', 
    :locals => {:toy_name => "Teddy Fluffy", :username => "@boy_george", 
    :description => "Greyhound divisively hello coldly wonderfully marginally far away in the mountain sky of sadasdsa dsadasd asdasdsad sads"} 
    %>
</section>