// colors
$primary: #ffff8d;
$primary-light: #ffffb0;
$primary-dark: #cab350;

$secondary: #2ec0e6;
$secondary-light: #65d6f3;
$secondary-dark: #1aa9ce;

$light: #f3f3f3;
$light1: #d1cfcf;

$dark: #1b1b1b;
$dark1: #424242;
$dark2: #6d6d6d;

// shadows
$shadow-light: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$shadow-dark: 0 5px 6px 0 rgba(0, 0, 0, 0.2);

// margins
$margin-l: 50px;
$margin-m: 34px;
$margin-s: 16px;

// heading sizes
$h1: 22px;
$h2: 20px;
$h3: 18px;

// paragraph sizes
$p1: 16px;
$p2: 14px;
$p3: 12px;

// font weights
$bold: 800;
$medium: 600;
$regular: 400;
$light: 200;

// border radius
$radius1: 16px;
$radius2: 8px;
$radius3: 4px;

// heights
$header-height: 3rem;
